[submodule "docs/personal"]
	path = docs/personal
	url = https://github.com/binarytrails/notes.git
[submodule "docs/hacktricks"]
	path = docs/hacktricks
	url = https://github.com/carlospolop/hacktricks
[submodule "bin/impacket"]
	path = bin/impacket
	url = https://github.com/SecureAuthCorp/impacket
[submodule "bin/yaptest"]
	path = bin/yaptest
	url = https://github.com/binarytrails/yaptest
[submodule "wordlists/wordlists"]
	path = wordlists/wordlists
	url = https://github.com/xajkep/wordlists
[submodule "docs/payloadsallthethings"]
	path = docs/payloadsallthethings
	url = https://github.com/swisskyrepo/PayloadsAllTheThings
